/*Estilos para la cancha*/

body {
  box-sizing: border-box;
}

/*Estilos para el contenedor grande*/

#container {
  background-color: #94C286;
  width: 60%;
  height: 600px;
  margin-top: 20px;
  margin-left: 10px;
}

/*Estilos para el pequeño contenedor */

#cancha {
  background-color: #94C286;
  width: 95%;
  height: 90%;
  border: 7px solid white;
  position: relative;
  top: 3.5%;
  left: 1.7%;
}

/*.arco1 {

  position: relative;

}
*/
