/*Estilos para la cancha*/

body {
  box-sizing: border-box;
}

/*Estilos para el contenedor grande*/

#container {
  background-color: #94C286;
  width: 60%;
  height: 600px;
  margin-top: 20px;
  margin-left: 10px;
}

/*Estilos para el contenedor pequeño*/

#cancha {
  background-color: #94C286;
  width: 95%;
  height: 90%;
  border: 6px solid #FFF;
  position: relative;
  top: 4.1%;
  left: 2.1%;
}

/*Estilos para ambos arcos*/

.arco {
  display: inline-block;
  width: 15%;
  height: 50%;
}

/*Estilos para el arco de la izquierda*/

.left {
  position: relative;
  right: 0.55%;
  top: 124px;
  border-top: 6px solid #FFF;
  border-right: 6px solid #FFF;
  border-bottom: 6px solid #FFF;
}

/*Estilos para el arco de la derecha*/

.right {
  position: relative;
  left: 85%;
  bottom: 425px;
  border-top: 6px solid #FFF;
  border-bottom: 6px solid #FFF;
  border-left: 6px solid #FFF;
}

/*Estilos para el círculo central*/

#circle {
  border: 6px solid #FFF;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: relative;
  bottom: 28%;
  left: 38.5%;
}

/*Estilos para los 3 pelotas*/

[id|=ball] {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #FFF;
}

/*Estilo para la primera pelota*/

#ball-one {
  position: relative;
  bottom: 130.3%;
  left: 13.2%;
}

/*Estilo para la segunda pelota*/

#ball-two {
position: relative;
bottom: 148%;
left: 52%;
}

/*Estilo para la tercera pelota*/

#ball-three {
  position: relative;
  bottom: 96%;
  left: 82%;
}
